{
    "presets": ["next/babel"],
    "plugins": ["superjson-next"]
}

// [
//     "babel-plugin-styled-components",
//     {
//       "ssr": true,
//       "minify": true,
//       "transpileTemplateLiterals": true,
//       "pure": true,
//       "displayName": true,
//       "preprocess": false
//     }
// ]
// ]